# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple (대소문자 주의)
2. git add. / git add .
3. messge / massage

# 01. 변수
```
var_name = value
```

- 변수 이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _fmf dldydgotj tjsdjs
- 키워드는 불가능

In [10]:
a = 100

In [4]:
a

100

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 1.1 number
- int : 정수형
- float : 실수형
- complex: 복소수

In [8]:
a = 10000

In [9]:
a

10000

In [11]:
type(a)

int

In [14]:
b = 1.1

In [15]:
b

1.1

In [13]:
type(b)

float

In [16]:
c = 1 + 1j

In [17]:
c

(1+1j)

In [18]:
type(c)

complex

## 1.2 boolean

In [19]:
a = True

In [20]:
a

True

In [21]:
type(a)

bool

In [22]:
b = False

In [23]:
b

False

In [24]:
type(b)

bool

## 1.3 String
- 문자열 `'`, `"` 를 이용하여 표현
- `\n` : 줄바꾸기
- `\'` : 작은 따옴표를 그대로 표현

In [25]:
a = 'hello'

In [26]:
b = "hi"

In [27]:
a

'hello'

In [28]:
b

'hi'

In [29]:
print('hello')

hello

In [82]:
print('hello my name is \'changhee\'') #작은 따옴표를 그대로 표현하려면 \' 를 사용한다

hello my name is 'changhee'

In [83]:
print('hello\n my name is \'changhee\'') #문자열 안에서 줄을 바꿀 때 \n을 사용한다

hello
 my name is 'changhee'

In [35]:
a = '''
hello
world 
hi
'''

In [36]:
a

'\nhello\nworld \nhi\n'

In [38]:
a = 10
b = '홍길동은 a살입니다.'

## 1.4 string interpolation
- %-formating
- str.format()
- f-string ->얘를 이용할 예정

In [48]:
age = 10

In [46]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [50]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [51]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

# 02. 연산자

## 2.1 산술연산자
- `x ** y`: x의 y제곱
- `x // y`: x를 y로 나눈 몫
- `x % y` : x를 y로 나눈 나머지

In [62]:
a = 5
b = 2

In [65]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
3
10
2.5

In [69]:
print(a**b) # a의 b제곱
print(a//b) # 몫
print(a%b) # 나머지

25
2
1

In [68]:
result = divmod(a,b) #divmod(a,b) => (a를 b로 나눈 몫, 나머지)
print(result)

(2, 1)

## 2.2 비교연산자

In [70]:
a = 5
b = 10

In [75]:
print(a > b) # a가 b보다 큰가요?
print(a < b) # a가 b보다 작나요?
print(a >= b)
print(a <= b)

False
True
False
True

In [78]:
print(a == b) # a와 b가 같다
print(a != b) # a와 b가 다르다

False
True

In [79]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True일때, True를 반환
- or : 양쪽 모두 False일때, False를 반환
- not: 상태를 부정

In [80]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [81]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [84]:
a = True
print(not a)

False

In [90]:
# 단축평가 : 앞에가 T면 뒤에가 T든 F든 그냥 뒤에걸 선택, 앞에가 F면 뒤에가 T든 F든 그냥 F를 선택
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [92]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)
# 앞에가 T면 뒤에가 T든 F든 그냥 앞에걸 선택, 앞에가 F면 그냥 뒤에걸 선택

3
3
5
0

# 2.4 복합연산자
- `a += b`   : a = a + b 과 같음
- `a -= b`   : a = a - b
- `a *= b`   : a = a * b
- `a /= b`   : a = a / b
- `a //= b`   : a = a // b
- `a %= b`   : a = a % b
- `a **= b`   :a = a ** b

In [1]:
a = 2
b = 3

In [99]:
a = a + b
a = a - b
a = a * b
a = a / b

In [2]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

## 2.5 기타연산자

In [106]:
a = 'hi'
b = 'hello'

In [109]:
# concatenation
print(a+b) 
print(a+1) #글자와 숫자는 에러
print(1+b) #숫자와 글자도 에러

hihello

TypeError: can only concatenate str (not "int") to str

In [111]:
a = [1, 2, 3]
b = [2, 3, 4]

In [113]:
print(a + b) #리스트도 concatenation으로 동작한다(연결)

[1, 2, 3, 2, 3, 4]

In [115]:
print(1 in a) #1이 a에 포함되어 있나요?

True

In [117]:
print(10 in a) #10이 a에 포함되어 있나요?

False

In [121]:
a = 100
b = 100

In [123]:
print(a == b) #a와 b의 값이 같은가?
print(a is b) #a와 b의 본질이 같은가?
#값이 256이하이면 True, 257이상이면 False

True
True

## 2.6 연산자 우선순위
0. ()를 통해서 그룹
1. **
2. 산술연산자 (*, /)
3. 산술연산자 (+,-)
4. 비교연산자, in, is
5. not
6. and
7. or

In [124]:
print(-3 ** 4)
print((-3)**4)

-81
81

# 3. 형변환

## 3.1 암시적 형변환

In [126]:
a = True
b = False
c = 1

In [128]:
print(a + b) # 1 -> True=1 False=0
print(a + c) # 2 -> True=1

1
2

In [132]:
if 1:
    print('hello') # 1=True

hello

## 3.2 명시적 형변환
- int() : 정수로 바꿔줌
- float() : 실수로 바꿔줌
- str() : 문자열로 바꿔줌
- bool() : True / False
    - bool(0): False
    - bool(0이 아닌 숫자): True
    - bool([]): False
    - bool([1,2]) : True

In [133]:
a = 1
b = '반'

In [134]:
print(a + b) #Error: 숫자와 문자를 더할 수 없다-> 형변환

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [136]:
print(str(a) + b) # a가 문자열이 되었기 때문에 더할 수 있다.

1반

In [141]:
a = '3'
print(type(a)) # str
b = int(a)
print(type(b)) # int

<class 'str'>
<class 'int'>

In [144]:
c = 'apple'
d = int(c) #ERROR: 숫자로 바꿀 수 없는 형태이기 때문에

ValueError: invalid literal for int() with base 10: 'apple'

In [147]:
a = 1
b = 0
c = -123 
print(bool(a)) #True :0이 아닌 모든 숫자는 True
print(bool(b)) #False : 0만 False
print(bool(c)) #True :음수도 True

True
False
True

In [149]:
print(bool([])) #리스트 안에 데이터가 하나도 없으면 False
print(bool([1,2,3])) #리스트 안에 데이터가 하나라도 존재하면 True

False
True

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조 (순서대로 나열되었다는 것은 정렬된 것과 다르다)
1. List
2. Tuple
3. Range
4. String

## 4.1 List (리스트, 배열)
- 선언: `var_name = [value1, value2, vlaue2, ...]`
- 접근: `var_name[index]`
- 인덱스는 0부터 시작한다

In [2]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [12]:
#리스트 선언하기
location = ['서울', '대전', '부산'] 
print(location)
print(location[2])

['서울', '대전', '부산']
부산

In [13]:
#리스트 정보 수정하기
location[1] = '대구' 
print(location)

['서울', '대구', '부산']

## 4.2 Tuple
- 선언: `var_name = (value1, value2, value3, ...)`
- 접근: `var_name[index]`
- **수정불가능**하다(immutable) : 재할당 안됨

In [14]:
#튜플 선언하기
location = ('서울','대전','대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [10]:
#immutable
location[2] = '부산' #ERROR: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

## 4.3 Range
- range(n): 0부터 n-1까지 범위____0이상 n미만
- range(n, m): n부터 m-1까지 범위
- range(n, m, s): n부터 m-1까지 s만큼 증가하는 범위

In [17]:
#Range 선언
lotto = range(45)
print(lotto)

#형변환(Range를 List로 바꾸기)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [18]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [19]:
even = range(2, 20, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고

In [23]:
s = 'hi my name is chang'
print(s[11])

i

## 4.5 시퀀스에서 활용가능한 연산/함수

In [64]:
my_list = ['a','b','c','d','e']
my_tuple = (6,7,8,9,10)
my_range = range(5)
my_string ='가나다라마'

In [26]:
#indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [30]:
# slicing
# var_name[index1 : index2] 
print(my_list[2:5]) 
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [48]:
# 인덱스 생략
print(my_list[0:]) #0부터 끝까지
print(my_list[3:]) #3부터 끝까지
print(my_list[:3]) #처음부터 2까지

['a', 'b', 'c', 'd', 'e']
['d', 'e']
['a', 'b', 'c']

In [46]:
# 음수 인덱스
#  p  y  t  h  o  n 
#  0  1  2  3  4  5
# -5 -4 -3 -2 -1 

print(my_list[-1])
print(my_list[1:-1])

e
['b', 'c', 'd']

In [42]:
# step
print(my_list[:]) #처음부터 끝까지
print(my_list[::2])

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

In [47]:
# in 
print(1 in my_list)
print('a' in my_list)
print('a' not in my_list)

False
True
False

In [51]:
# concatennation(연겷하다)
# 튜플은 튜플끼리, 리스트는 리스트끼리
print(my_list + [1,2,3,4,5])
print(my_tuple + (1,2,3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [77]:
# * (곱하기)
print(my_list*2) #my_list를 두번 출력함
print('a'*5)

# [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
print([0]*100)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [84]:
# len, max, min
print(len(my_list))
print(max(my_list))
print(min(my_list))

5
e
a

# 5. 시퀀스형이 아닌 구조

## 5.1 Set
- 수학에서의 집합과 비슷한 개념 (합집합, 차집합, 교집합 사용)
- 선언 : `var_name = {value1, vlaue2, vlaue3, ...}`
- 중복을 허용하지 않는다

In [72]:
my_set_a = {1,2,3,4,5,5,5,5,5,5,} #{1,2,3,4,5} 중복을 허용하지 않는다
my_set_b = {1,3,5,7,9}
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [76]:
print(my_set_a - my_set_b) #교집합
print(my_set_a | my_set_b) #합집합
print(my_set_a & my_set_b) #교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [80]:
location = ['서울','대구','부산','광주','부산','광주','부산']
print(set(location))

{'광주', '부산', '대구', '서울'}

## 5.2 Dictionary
- 선언: `var_name = {key1: value1, key2: value2, key3: value3}`
- 접근: `var_name[key]`

In [83]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [85]:
my_info = {
    'name': 'changhee', 
    'location' : 'seoul',
    'age' : 10,
    'skill' : ['python', 'git']
}

In [91]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1])

changhee
10
git

**데이터타입**
1. Number
2. Boolean
3. String

**자료구조**
- 시퀀스
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌것
1. {Set} : mutable
2. {Dic: tionary} : mutable