# 제어문

## 조건문 (if문)

1. if문은 반드시 참/거짓을 판단 할 수 있는 **조건식**과 함께 사용한다.
    - `if <조건식>:`
2. `<조건식>` 참인 경우 : `:` 이후의 문장을 실행
3. `<조건식>` 거짓인 경우 : `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [7]:
my_string = input()
print(my_string)

if my_string == '12/25':
    print('Merry christmas!')
else:
    print('No')

 12/25

12/25
Merry christmas!

In [10]:
num = input('숫자를 입력해주세요') #사용자로부터 입력받는 정보

if int(num) % 2 == 1:
    print('odd')
else: 
    print('even')

숫자를 입력해주세요 29478

even

In [11]:
num = int(input())

if num % 2 ==1:
    print('odd')
else: 
    print('even')

 38920

even

In [12]:
num = int(input())

if num % 2 == 0:
    print('even')
else:
    print('odd')

 384

even

In [13]:
num = int(input())

if num % 2:          #나머지가 0또는 1이 나오는데, 1이면 True이고 0이면 False이다.
    print('odd')
else:
    print('even')

 29

odd

In [14]:
num = int(input('5의 배수를 판단해드리겠습니다'))

if num % 5 == 0: 
    print('5의 배수입니다')
else: 
    print('5의 배수가 아닙니다')

5의 배수를 판단해드리겠습니다 294837265

5의 배수입니다

In [15]:
num = int(input())

if num % 5:
    print('5의 배수가 아닙니다.')
else:
    print('5의 배수입니다')

 30285

5의 배수입니다

### elif

```
if <조건식>:
    if문이 참인 경우
elif <조건식>:
    elif문이 참인 경우
else:
    위의 모든 조건식이 거짓인 경우
```

In [19]:
score = int(input())

if score >= 90:
    print('A')
    if score >=95:
        print('Good!!!!')
elif score >=80:
    print('B')
elif score >=70:
    print('C')
else:
    print('F')

 96

A
Good!!!!

### 조건표현식
- `true_value if <조건식> else false_value`
-  이 문법은 안 쓸 것임

In [2]:
a = 0
if True:
    a = 100
else:
    a = -100
print(a)

100

In [3]:
a = 100 if True else -100
print(a)

100

In [8]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 394

394

In [20]:
num = int(input())

result = num if num >= 0 else 0
print(result)

 34

34

In [21]:
num = 9

result = '홀수' if num % 2 else '짝수'
print(result)

홀수

In [22]:
num = 10

if num %2:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

## 반복문

### while문
```
while <조건식>:
    실행할 코드
```
- Python Tutor에서 확인해보기

In [24]:
a = 0

while a < 5: 
    print(a)
    a += 1

0
1
2
3
4

## for문
- 정해진 범위 내의 반복
```
for var_name in sequence:
    code
```
- 시퀀스형(list, Tuple, Range, String)은 모두 sequence 자리에 사용가능하다

In [25]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [26]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [27]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
numbers = range(1,51)
print(numbers)

for number in numbers:
    if number % 5 == 0:
        print(number)

range(1, 51)
5
10
15
20
25
30
35
40
45
50

In [36]:
locations = ['서울','대전','부산']
for location in enumerate(locations):  ##enumerate 함수: 낱낱이 세다
    print(location)

(0, '서울')
(1, '대전')
(2, '부산')

In [35]:
locations = ['서울','대전','부산']
for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### dcitionary 반복
1. for key in dict:
    - 딕셔너리에 있는 키를 알려줌
3. for key in dict.keys():
    - 딕셔너리에 있는 키를 알려줌
5. for value in dict.values():
    - 딕셔너리에 있는 value를 알려줌
7. for key, value in dict.items():
    - 딕셔너리에 있는 키와 value를 알려줌

In [41]:
info = {
    'name' : 'gildong',
    'location' : 'seoul',
    'phone' : '010-1234-1234',
    'age' : 20,
}

In [48]:
for k in info:
    print(k)
    print(info[k])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [45]:
for k in info.keys():
    print(k)

name
location
phone
age

In [50]:
for v in info.values():
    print(v)

gildong
seoul
010-1234-1234
20

In [55]:
for k,v in info.items():
    print(k,v)

name gildong
location seoul
phone 010-1234-1234
age 20

In [57]:
blood_type = {
    'A' : 15,
    'B' : 8,
    'C' : 5,
    'AB' : 4,
}

In [60]:
print('혈액형 종류는 다음과 같습니다')
for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다
A
B
C
AB

In [61]:
# 총 학생은 몇명입니다
result = 0
for number in blood_type.values():
    result += number
    
print(result)

32

In [65]:
for k,v in blood_type.items():
    print(f'{k}형은 {v}명입니다.')  ##### f-string 활용 :print(f'홍길동은 {age}살입니다.')

A형은 15명입니다.
B형은 8명입니다.
C형은 5명입니다.
AB형은 4명입니다.

### break
반복문을 종료시키는 키워드

In [69]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 브레이크')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 브레이크

In [71]:
while True:                         ### While True 여기는 참이니까 계속 해
    rice=input()
    if rice == '쌀':
        print('잡았다!!!!!')
        break

 보리
 볼ㅣ
 ㅂㅗ리
 보리
 ㅆㅏㄹ
 쌀

잡았다!!!!!

### continue
- continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [74]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [76]:
ages = [10, 20, 30, 23, 43, 9, 20]
for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

20살은 성인입니다.
30살은 성인입니다.
23살은 성인입니다.
43살은 성인입니다.
20살은 성인입니다.

### else
else문은 끝까지 반복된 경우 실행됩니다.
break를 만나지 않은 경우 실행된다.

In [80]:
for i in range(10):
    if i > 50:
        break
    print(i)
else: 
    print('모두완료!!')  ###브레이크를 만나지 않음

0
1
2
3
4
5
6
7
8
9
모두완료!!