# 자료구조
> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [2]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [3]:
a = 'hello my name is hong'

In [4]:
print(a)

hello my name is hong

In [19]:
a[0] = 'H'  #string은 immutable하다

TypeError: 'str' object does not support item assignment

In [14]:
a.capitalize() #첫번째 글자를 대문자로 만든다

'Hello my name is hong'

In [15]:
print(a) #원본 데이터를 바꾸지 않는다

Hello my name is hong

In [16]:
a = a.capitalize() #원본 데이터를 바꾼다

In [17]:
a.title() #각각의 단어의 첫번째 글자를 대문자로 바꾼다

'Hello My Name Is Hong'

In [18]:
a.lower() #전부 다 소문자로 바꾼다

'hello my name is hong'

In [12]:
a.upper() #전부 다 대문자로 바꾼다

'HELLO MY NAME IS HONG'

In [21]:
my_list = ['my', 'name','is']
'!'.join(my_list)  #리스트 하나로 합치기

'my!name!is'

In [22]:
'?'.join('배고프다')

'배?고?프?다'

In [28]:
a = '             \t               hello                       \n'
print(a)
a.strip()  #좌우 공백 없애주기(여백, \t, \n)

             	               hello

'hello'

In [29]:
a = '!!!!!!!!!!!!!!!!!!!!hello????????????????'
a.strip('!')  #괄호 안에 있는 문자를 지워줌

# def strip(char='') => 빈 공간을 지워주는 함수

'hello????????????????'

In [32]:
a = '--------hello--------'
a.lstrip('-') #왼쪽에 있는 - 만 지워줌
a.rstrip('-') #오른쪽에 있는 -만 지워줌

'--------hello'

In [40]:
a = 'wooooooooooow'
a.replace('o','!',3)  #내가 원하는 철자로 대체하는 함수 
#replace(old,new, [count]) #앞에 있는 [count]개만 대체하기

'w!!!oooooooow'

In [46]:
a= 'apple'
a.find('a') # => 0
a.find('l') # = > 3
a.find('p') # = > 1 가장 앞에 있는 인덱스 번호를 출력해준다
a.find('z') # = > -1 문자열이 없을때에는 -1을 출력해준다
#해당 글자의 인덱스 번호를 출력해준다

-1

In [50]:
a='apple'
a.index('a') # = > 0
a.index('l') # = > 3
a.index('p') # = > 1
a.index('z') # ERROR 문자열이 없을때에는 에러.

ValueError: substring not found

In [52]:
a = 'my name is hong'
a.split() #띄어쓰기를 기준으로 데이터를 잘라서 리스트로 만들어줌

['my', 'name', 'is', 'hong']

In [54]:
a = 'my!name!is?hong'
a.split('!') #느낌표를 기준으로 데이터를 자름

['my', 'name', 'is?hong']

In [56]:
a = 'wooooow'
a.count('o')

5

## 리스트 메소드
- `append`랑 `pop`중요

In [25]:
numbers = [2, 6, 1, 4, 8, 3, 2, 8]

In [26]:
numbers.append(10) #apppend: 마지막에 하나의 데이터를 추가
print(numbers) #원본 데이터가 아예 바뀜

[2, 6, 1, 4, 8, 3, 2, 8, 10]

In [27]:
a = [99,100]
numbers.extend(a) #extend: 여러개의 데이터를 추가 
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 99, 100]

In [28]:
numbers.insert(3, 5) #insert(index_number,숫자): 내가 원하는 위치에 데이터 추가
print(numbers)

[2, 6, 1, 5, 4, 8, 3, 2, 8, 10, 99, 100]

In [29]:
# x를 찾아서 순서대로 제거, 없으면 오류
numbers.remove(8) #8이 두개면 앞에서부터 지움
print(numbers)

[2, 6, 1, 5, 4, 3, 2, 8, 10, 99, 100]

In [30]:
numbers.pop() # 맨 마지막 데이터를 제거
print(numbers)

[2, 6, 1, 5, 4, 3, 2, 8, 10, 99]

In [31]:
numbers.pop(0) # 원하는 데이터를 인덱스넘버로 제거
print(numbers)

[6, 1, 5, 4, 3, 2, 8, 10, 99]

In [32]:
numbers.sort() #오름차순으로 정렬
print(numbers)

[1, 2, 3, 4, 5, 6, 8, 10, 99]

In [33]:
numbers.sort(reverse=True) #내림차순으로 정렬
print(numbers)

[99, 10, 8, 6, 5, 4, 3, 2, 1]

In [36]:
a = [5,3,2,7,8,1]
print(sorted(a)) #sorted는 원본데이터를 바꾸지 않는다, sort는 원본데이터를 바꾼다(외울필요는 없음)
print(a)

[1, 2, 3, 5, 7, 8]
[5, 3, 2, 7, 8, 1]

In [38]:
my_list=['a','e','하','나','z']
my_list.sort()
print(my_list)

['a', 'e', 'z', '나', '하']

In [40]:
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5, 6, 8, 10, 99]
[99, 10, 8, 6, 5, 4, 3, 2, 1]

In [41]:
numbers.count(10) #개수세기

1

### list copy

In [42]:
origin_list = [1,2,3]
copy_list = origin_list

In [43]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [44]:
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [46]:
origin_list = [1,2,3]
copy_list = origin_list[:] #origin list를 처음부터 끝까지 슬라이싱한 데이터를 가져옴
copy_list[0] = 100
print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [47]:
o_l = [1,2,[10,11]]
c_l = o_l[:]

c_l[0] = 100
c_l[2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [52]:
import copy
o_l = [1,2,[10,11]]
c_l = copy.deepcopy(o_l)  ##리스트 안에 리스트가 중첩되어있을 때 : deep copy 사용

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

### list comprehension

In [53]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
result = []
for number in numbers:
    temp = number ** 3
    result.append(temp) # 리스트 안에 추가할 때 append
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [58]:
result = [number ** 3 for number in numbers]
# result = [number1 ** 3, number2 ** 3, number3 ** 3]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [62]:
# 짝수만 고르기
numbers = list(range(1, 31))
print(numbers)

result= [] 

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [67]:
numbers = list(range(1, 31))
result = [number * 2 for number in numbers if number % 2 == 0] # 짝수들만 2배해서 보여주기
#result = [number * 2 ////for number in numbers ////if number % 2 == 0]
print(result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [70]:
# 연습! 모음제거
words= 'my name is hong'
# = > my nm s hng

In [84]:
# 1. for / if
result = []
vowels=['a','e','i','o','u']
for word in words:
    if word not in vowels:
        result.append(word)     
print(result)
print(''.join(result))  #리스트 하나로 합치기 join함수

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [83]:
# 1. for / if
for word in words:
    if word not in 'aeiou':
        result.append(word)     
print(result)
print(''.join(result))  #리스트 하나로 합치기 join함수

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g', 'm', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g', 'm', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hngmy nm s hngmy nm s hng

In [85]:
# 2. list comprehension
vowels = 'aeiou'
result = [word for word in words if word not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [86]:
# 3. replace 메소드
vowels = 'aeiou'
for char in vowels:
   words = words.replace(char, '')
print(words)

my nm s hng

## dictionary 메소드
- 딕셔너리에서 키랑 값을 추가할 때: `dic_name[key_name] = value`
- ex) locations = {'서울' :1 , '부산' : 2}
- locations['대구'] = 3

In [2]:
info = {
    'name': 'hong',
    'location' : 'seoul',
    'age' : 20,
    'phone_book' : {
        'kim': '010-1234-1234',
        'park': '010-4321-4321'
    },
    'models' : ['iphone', 'ipad'],
}

In [8]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park'])
print(info['models'][1])

hong
20
010-4321-4321
ipad

In [12]:
info['name'] = 'lee'
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [13]:
info.update(name='choi')
print(info)

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [15]:
info.pop('location') #원하는 key :value 쌍을 완전히 제거할 때 사용한다. # list pop: 맨 마지막 요소 뽑아내기  
print(info)

{'name': 'choi', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [16]:
print(info.get('name'))
print(info['name'])

choi
choi

In [18]:
print(info.get('birth')) #key가 없으면 None
print(info['birth']) #ket가 없으면 ERROR

None

KeyError: 'birth'

In [ ]:
# 연습문제
blood_type = ['A','B','A','B','O','AB','A','A','AB']
my_dict = {
    'A': 'num_A',
    'B': 'num_B',
    'AB': 'num_AB',
    'O': 'num_O'
}
num_A = 0
num_B = 0
num_AB = 0
num_O = 0
for char in blood_type:
    if char == 'A':
        num_A += 1
    elif char == 'B':
        num_B += 1
    elif char == 'AB':
        num_AB += 1
    else:
        num_O +=1

info.update

# {'A': 4, 'B':2, 'AB': 2, 'O':1}

In [20]:
blood_type = ['A','B','A','B','O','AB','A','A','AB']
result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}

for blood in blood_type:
    #result['A']
    result[blood] += 1

print(result)

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [23]:
locations =['서울', '서울','대전','부산','대구','LA','파리']
result = {}
for location in locations:
    if location in result.keys():
        result[location] += 1
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

In [24]:
locations =['서울', '서울','대전','부산','대구','LA','파리']
result = {}
for location in locations:
    if result.get(location):
        result[location] += 1
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

### dict comprehesion

In [26]:
# {1: 1, 2: 8, 3: 27, ...10: 1000}
result = {}
for number in range(1,11):
    result[number] = number ** 3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [28]:
result = {number: number ** 3 for number in range(1,11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [33]:
#1. for
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0
}

result={}
for key, value in dust.items():   #for k,v in info.items(): (key, value) 둘 다 추출 
    if value <= 30:
        result[key] = value
print(result)

{'수원': 30, '부산': 0}

In [36]:
#2. comp
result = {k: v for k, v in dust.items() if v <= 30}
print(result)

{'수원': 30, '부산': 0}

## Set 메소드

In [46]:
fruits = {'apple', 'banana', 'melon'}

In [42]:
print(fruits)

{'melon', 'banana', 'apple'}

In [47]:
## add: 하나의 데이터 추가하기

fruits.add('watermelon')
print(fruits)

{'melon', 'watermelon', 'banana', 'apple'}

In [48]:
## update: 여러개의 데이터 추가하기

fruits.update({'orange','grape'})
print(fruits)

{'orange', 'watermelon', 'banana', 'melon', 'grape', 'apple'}

In [49]:
# remove: 데이터 지정헤세 제거하기

fruits.remove('apple')
print(fruits)

{'orange', 'watermelon', 'banana', 'melon', 'grape'}

In [51]:
# pop: 데이터 랜덤하게 제거하기

fruits.pop()
print(fruits)

{'banana', 'melon', 'grape'}

## map, filter, zip

### map (함수를 일괄처리)
- `map(function, iterable)`
- iterable = 시퀀스타입

In [56]:
numbers = [1,2,3,4,5]
# => ['1','2','3','4','5']

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [63]:
result = map(str, numbers)   # map(함수 이름, 리스트 이름)
print(result)
print(list(result))
result = list(map(str, numbers))
print(result)

<map object at 0x00000271B6852D40>
['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']

In [64]:
numbers = [1,2,3,4,5]
# => [1, 8, 27, 64, 125]
result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [65]:
def cube(x):
    return x ** 3

In [68]:
result= map(cube, numbers)
print(result)
print(list(result))

<map object at 0x00000271B6853850>
[1, 8, 27, 64, 125]

In [71]:
test_input = '1 3 5 7 9'
#1. 띄어쓰기 기준으로 나눈다
test_input.split()
#2. 각 글자를 숫자로 바꾼다
map(int, test_input.split())
#3. 리스트에 저장한다
result = list(map(int,test_input.split()))
print(result)

[1, 3, 5, 7, 9]

### filter (조건에 부합하는 것을 필터링)
- `filter(function, iterable)`

In [72]:
def is_odd(x):
    return x % 2

In [73]:
numbers= [1,2,3,4,5,6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)
print(result)

[1, 3, 5]

In [74]:
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x00000271B6857BE0>
[1, 3, 5]

### zip (두 개의 리스트를 묶어줄때)

In [75]:
a = [1,2,3]
b = [100,200,300]
result= zip(a,b)
print(result)
print(list(result))

<zip object at 0x00000271B6D321C0>
[(1, 100), (2, 200), (3, 300)]