# Error

## Syntax error (문법에러)

In [2]:
if True:
    pass
else   ##else문 뒤에 콜론이 빠져있다.

SyntaxError: expected ':' (405456521.py, line 3)

In [4]:
print('hello) ##따옴표를 안붙였다

SyntaxError: unterminated string literal (detected at line 1) (4225225334.py, line 1)

In [6]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

In [8]:
print ('hello'

_IncompleteInputError: incomplete input (103230136.py, line 1)

## exception (예외)

In [11]:
print(5/0)  # 0으로 나눌 수 없다

ZeroDivisionError: division by zero

In [13]:
print(hello) # 따옴표 빠짐=> 변수가 없습니다

NameError: name 'hello' is not defined

In [15]:
1 + '1' # int에다 string을 더할 수 없다

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
'1' + 1 # 문자에 숫자를 concatenate할 수 없다

TypeError: can only concatenate str (not "int") to str

In [19]:
import random
random.sample([1, 2, 3, 4, 5]) # 몇개를 비복원 추출할지 인자가 빠졌다

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [21]:
random.sample([1,2,3],1,2,3,4,5,6,7,8,9,10) #데이터를 너무 많이 넣음

TypeError: Random.sample() takes 3 positional arguments but 12 were given

In [23]:
int('4.5')  #10진수가 아니라서 int할 수 없다

ValueError: invalid literal for int() with base 10: '4.5'

In [24]:
numbers = [1,2,3]
numbers.index(100) # 100을 찾아주세요 => 리스트에 100 없어서 에러

ValueError: 100 is not in list

In [27]:
numbers[100]  #100번째 데이터 가져와주세요 => 범위 초과

IndexError: list index out of range

In [29]:
my_dict = {
    'apple' : '사과',
    'banana' : '바나나',
}

In [31]:
my_dict['melon'] # 없는 key이다

KeyError: 'melon'

In [32]:
import pandas  #설치한 적 없음

ModuleNotFoundError: No module named 'pandas'

## 예외처리
```python
try:
    code
except exception:
    code
```

In [37]:
try:
    number = int(input('숫자를 입력해주세요'))
    print(f'입력하신 {number}의 세제곱은 {number ** 3}입니다.')
except:  # 오류가 발생하면 오류 대신 except 실행
    print('숫자를 입력해달라고!!!')

숫자를 입력해주세요 12

입력하신 12의 세제곱은 1728입니다.

In [42]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는 {100/num}')
except ValueError: #string 입력하면 에러 대신 입력한데이터는숫자가아닙니다
    print('입력한 데이터는 숫자가 아닙니다.')
except ZeroDivisionError: # 0 입력하면 에러대신 모든수는 0으로 나눌 수 없습니다
    print('모든수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누겠습니까? 0

모든수는 0으로 나눌 수 없습니다.

In [45]:
try:
    numbers = [1, 2, 3]
    numbers[1]  #데이터가 3칸짜린데 100번째 데이터를 요구해서 오류임
except:
    print('오류입니다')
else: #try를 실행하고 에러(except)를 만나지 않았을 때 실행한다
    print('여기는 else 입니다')

여기는 else 입니다

In [48]:
try:
    numbers = [1, 2, 3]
    numbers[100]  #데이터가 3칸짜린데 100번째 데이터를 요구해서 오류임
except:
    print('오류입니다')
finally: #에러가 나던 안나던 둘 다 실행한다
    print('여기는 else 입니다')

오류입니다
여기는 else 입니다

In [54]:
def my_div(a,b):
    try:
        return a /b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다'
    except:
        return '무엇인가 잘못되었습니다'
my_div(1,0)

'0으로 나눌 수 없습니다'